mat-card {
    width: 50%;
    margin: auto;
}

mat-list-item:hover {
    background-color: #E0E0E0;
    border-radius: 5px;
    cursor: pointer;
}

h1 {
    margin-bottom: 0px !important;
    font-weight: bold;
}

p {
    margin-bottom: 0px;
}